@import "tailwindcss";

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 400 500 700 800;
  font-display: swap;
  src: url("assets/fonts/satoshi/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: NeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/neuemontreal/NeueMontreal-Regular.otf")
    format("opentype");
}

@theme {
  /* Color */
  --color-primary: #040404;
  --color-text-heading: #fdffff;
  --color-text-base: #d1d1d6;
  --color-accent: #62f11a;
  --color-line: #404040;
  --color-primary-opacity: rgba(4, 4, 4, 0.6);

  /* Typography */
  --font-heading: "Satoshi", sans-serif;
  --font-sans: "NeueMontreal", sans-serif;
  --text-heading-1: 6rem;
  --text-heading-2: 4rem;
  --text-mini: 0.813rem;
  --text-seminormal: 0.875rem;

  /* Spacing */
  --spacing-120: 120%;
  --spacing-140: 140%;
  --spacing-150: 150%;

  --tracking-base: 4%;

  /* Container */
  --container-desktop: 84rem;
}

* {
  @apply font-sans;
}

.typo-heading {
  @apply font-heading -tracking-base;
}

.transition-base {
  @apply transition duration-300 ease-in-out;
}
